
body {
    background: linear-gradient(to left, rgb(2, 6, 29), rgb(152, 166, 196) );
}

.encabezado {
    background-color: #3952c423;
}

.titulo {
    background-color: rgba(0, 255, 255, 0);
    border-radius: 5px;
}

.logo{
    width: 250px;
    height: auto;
}

.fondo-t {
    background-color: rgba(130, 174, 194, 0.247);
}

.barra{
    background-color: #110e4d50;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    border-radius: 5px;
    /* display: flex;
    justify-content: left; */
    /* align-items: center; */
    /* list-style: none; */
    /* gap: 26px;      */
}


.blanco{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: tahoma;
    /* display: flex; */
     /* text-justify: center; */
     /* text-align: center; */
    /* padding-left: 80px;   */
} 

header nav ul li a {
    text-decoration: none;
    color: #a393c0;
}

.tarjeta1 {
    width: 45px;
    height: auto;
}

.arriba{
    padding-top: 50px;
}


.debito{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
}

.credito{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
}
 
.fixed-row-bottom { 
    position: fixed; 
    bottom: 0;
}

.nolink{
     text-decoration: none;
     color: #212529;
}