
body {
    background: linear-gradient(to left, rgb(2, 6, 29), rgb(152, 166, 196) );
}

.logo{
    width: 250px;
    height: auto;
}

.barra{
    background-color: #110e4d50;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    border-radius: 5px;
    /* display: flex;
    justify-content: left; */
    /* align-items: center; */
    /* list-style: none; */
    /* gap: 26px;      */
}
/* .formulario .titulo{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: tahoma;

} */
.blanco{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: tahoma;
    /* display: flex; */
     /* text-justify: center; */
     /* text-align: center; */
    /* padding-left: 80px;   */
} 

header nav ul li a {
    text-decoration: none;
    color: #a393c0;
}

.nolink{
     text-decoration: none;
     color: #212529;
}

.formulario{
    padding-top: 30px;
}
.formulario .legal{
    color: white;
}

.toppad{
    padding-top: 20px;
}

.btmpad{
    padding-bottom: 20px;
}

.textobase{
    text-decoration: none;
}

.subrayado{
    text-decoration: underline;
}

.sel:hover{
    background-color: rgb(66, 170, 189);
    border-radius: 5px;
}

.currentsel{
    background-color: rgb(73, 136, 165);
    border-radius: 5px;
}