.titulo {
    background-color: aqua;
    border-radius: 5px;
}

.barra{
    background-color: #15115b;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    gap: 26px;     
}

header nav ul li a {
    text-decoration: none;
    color: #a393c0;
}

 .pie{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 .nolink{
     text-decoration: none;
     color: #212529;
 }
 a {
     float: left;
 }

